body {
    margin: 0px;
    background-color: #C3CFD9;
}

* {
    box-sizing: border-box;
}

.cabecalho {
    height: 80px;
    margin: 0px;
    background-color: #DFE6ED;
    display: flex;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.menu {
    margin-left: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    background-color: #4B5C6B;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    color: white;
    margin-left: 14px;
    font-family: sans-serif;

}

.link:hover {
    color: rgb(218, 218, 218);
    background-color: #445361;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}


.titulo {
    color: #38444e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    height: 50px;
    margin-top: 15px;
    margin-left: 20%;
}

.btnBuscar {
    width: 100%;
    padding: 10px;
    background-color: #4B5C6B;
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    border-radius: 4px;
    border: 1px #4B5C6B;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.btnBuscar:hover {
    color: rgb(218, 218, 218);
    background-color: #445361;
}

.buscarDados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.retornoApi {
    background-color: white;
    border-radius: 10px;
    display: none;
    height: 390px;
    overflow: scroll;
}

.table {
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
}

.table th {
    border: solid 1px;
    background-color: #4B5C6B;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.table td {
    border: solid 1px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}