body {
    margin: 0px;
    background-color: #C3CFD9;
}

.cabecalho {
    height: 80px;
    margin: 0px;
    background-color: #DFE6ED;
    display: flex;
}

.menu {
    margin-left: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    background-color: #4B5C6B;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    color: white;
    margin-left: 14px;
    font-family: sans-serif;
    
}

.titulo {
    margin-left: 314px;
    color: #38444e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    height: 50px;
    margin-top: 15px;

}

.entradaDados {
    margin: 20px 90px 10px 90px;
}

.entradaDados input {
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    width: 97.2%;
    font-size: 20px;
    border: solid rgb(185, 185, 185);
    border-radius: 4px;
}

.btnCadastrar {
    width: 100%;
    padding: 10px;
    background-color: #4B5C6B;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px #4B5C6B;
}

.resultado {
    border: solid 1px #207868;
    height: 35px;
    text-align: center;
    padding-top: 12px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #207868;
    color: white;
    border-radius: 4px;
}