body {
    margin: 0px;
    background-color: #C3CFD9;
}

* {
    box-sizing: border-box;
}

.cabecalho {
    height: 80px;
    margin: 0px;
    background-color: #DFE6ED;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border: solid;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    border: solid 2px black;
    height: 50px;
}

.titulo {
    margin: 0;
    color: #38444e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    height: 55px;
    border: solid;

}

.link {
    background-color: #4B5C6B;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    color: white;
    margin-left: 14px;
    font-family: sans-serif;
}

.link:hover {
    color: rgb(218, 218, 218);
    background-color: #445361;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}


.entradaDados {
    margin: 20px 90px 10px 90px;
}

.entradaDados input {
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    border: solid rgb(185, 185, 185);
    border-radius: 4px;
}

.btnCadastrar {
    width: 100%;
    padding: 10px;
    background-color: #4B5C6B;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px #4B5C6B;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.btnCadastrar:hover {
    color: rgb(218, 218, 218);
    background-color: #445361;
}

.resultado {
    border: solid 1px #207868;
    height: 35px;
    text-align: center;
    padding-top: 6px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 4px;
    display: none;
}